body {
  margin: 0;
  font-family: 'OstrichSans-Heavy', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'OstrichSans-Heavy';
  src: local('OstrichSans-Heavy'), url(./fonts/OstrichSans-Heavy.woff) format('woff');
}